pip
colorama
future
requests
tabulate
slam
cython
twine
urllib3
grip
wheel
numpy
scipy
pandas
statsmodels
patsy
sklearn
six
seaborn
matplotlib
sphinx
numpydoc
mysqlclient
recommonmark
sphinx_rtd_theme
sphinxcontrib-osexample
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability